Checks: '-*,bugprone-*,-bugprone-branch-clone,-bugprone-easily-swappable-parameters,-bugprone-exception-escape,performance-*,-performance-no-int-to-ptr,readability-braces-around-statements'
WarningsAsErrors: '-*,bugprone-*,-bugprone-branch-clone,-bugprone-easily-swappable-parameters,-bugprone-exception-escape,performance-*,-performance-no-int-to-ptr,readability-braces-around-statements'
